{% extends 'main/base.html' %}
{% block title %}О нас{% endblock %}
{% block content %}
    <div class="features">
        <h1>Информация о нас</h1>
        <p>Точнее о разработчике</p>
        <br>
        <h4>Я студент 1 курса, факультета Computer Science</h4>
        <br>
        <h5>Это проект для Final, представляющий из себя аналог твиттера, но только внутри университета</h5>
        <br>
        <a href="{% url 'home' %}"><button class="btn btn-info"> Нажмите для более подробной информации</button></a>
        <hr>
        <h5>Проект для общего пользования, с открытым исходным кодом</h5>
        <h5>Компания пока не специализируется для коммерческих пользований, пока что мы специализируемся на проектах, чтобы получить на файнале 100 баллов</h5>
    </div>

{% endblock %}
