body {
    background: #eeeeee;
}


aside {
    float: left;
    background: #181818;
    width: 20%;
    height: 100vh;
    padding: 2%;
    color: #fff;
    border-right: 5px solid #4d4d4d;

}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px;
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #ffffff;
    display: block;
    margin-top: 20px;
    transition: transform .5s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float: left;
    color: #ffffff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}
main .features p {max-width: 600px; margin: 20px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}

